.app {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  background-color: #F55A5A;
  color: white;
  justify-content: center;
}

.nav>h3 {
  padding: 1rem 0;
}

.nav-icon {
  margin-right: 0.5rem;
}

.card {
  display: flex;
  align-items: center;
}

.card-img {
  object-fit: cover;
  width: 125px;
  height: 168px;
  padding: 1rem;
}

.card-header {
  display: flex;
}

.content {
  padding: 1rem 1rem;
}


.card-body {
  padding: 1rem 1rem;
}

.card-mini-header {
  display: flex;
  align-items: baseline;
  padding-bottom: 0.3rem;

}

.card-mini-header>img {
  margin-right: 0.5rem;
}

.card-mini-header>h4 {
  font-weight: 300;
  letter-spacing: 0.2rem
}

.card-mini-header>h5 {
  font-weight: 300;
  text-decoration: underline;
  color: gray;
}

.card-header {
  padding-bottom: 1rem;
}

.card-description-date {
  padding-bottom: 0.3rem;
}

.card-description-detail {
  font-weight: normal;
}

.line {
  height: 2px;
  background-color: #F5F5F5;
}